.App {
  text-align: center;
  padding: 2vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cand-card {
  max-height: 35rem;
}

form {
  padding-top: 2vh;
}

.ui.form {
  height: 37rem;
}

.ui.tiny.centered.image {
  object-fit: cover;
  object-position: 50% 7%;
  height: 20rem;
  width: 90%;
}

.ui.medium.image {
  width: 20vw;
}

.ui.tiny.centered.image {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#candidate-img-2 {
  object-position: 50% 10%;
}

#candidate-img-3 {
  object-position: 50% 13%;
}

#candidate-img-4 {
  object-position: 50% 17%;
}

#candidate-img-5 {
  object-position: 50% 2%;
}

#candidate-img-6 {
  object-position: 50% 10%;
}

#candidate-img-7 {
  object-position: 50% -2%;
}

#candidate-img-8 {
  object-position: 50% 15%;
}

#candidate-img-9 {
  object-position: 50% 12%;
}

#details-btn {
  margin-bottom: 2vh;
}

#header-div {
  height: 5rem;
  background-color: #2185d0;
}

#card-footer {
  height: 20rem;
  padding-top: 1vh;
}

#card-header,
#meta {
  color: white;
}

#meta {
  font-style: italic;
}
.confirm {
  background-color: red !important;
}

.details-btn {
  margin: auto;
}

.btn-div {
  text-align: center;
  padding-top: 0.5rem;
}

.logo-container {
  max-width: 25vw;
  margin: auto;
}

@media (max-width: 768px) {
  .logo-container {
    max-width: 50vw;
    margin-bottom: 1rem;
  }

  .ui-form {
    height: 20rem;
  }

  .ui.tiny.centered.image {
    max-height: 20rem;
  }
}

@media (max-width: 723px) {
  .ui-form {
    height: 36rem;
  }
}

#card-back {
  height: 5.5rem;
  display: inherit;
  margin: auto;
}

.ui.blue.button,
.ui.red.button {
  white-space: nowrap;
}
